body {
  font-size: 24px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 45px;
  font-size: 36px;
  color: #04125f;
  border: 1px solid #031057;
  border-radius: 5px;
  padding: 10px;
  margin: 16px;
}

button {
  background-color: #babcf6;
  border: 1px solid #031057;
  border-radius: 3px;
  padding: 5px 16px;
  font-size: 18px;
  margin: 8px 4px;
}
.input-timer {
  width: 34px;
  height: 38px;
  text-align: center;
  font-size: 24px;
  color: #04125f;
  border: none;
}
