body {
  font-size: 24px;
  margin: 60px 200px;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 160px;
  font-size: 28px;
  color: #04125f;
  border: 1px solid #031057;
  border-radius: 5px;
  padding: 10px;
  margin: 16px;
}

button {
  background-color: #babcf6;
  border: 1px solid #031057;
  border-radius: 3px;
  padding: 5px 16px;
  font-size: 18px;
  margin: 8px 4px;
  cursor: pointer;
}
.input-timer {
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 32px;
  color: #04125f;
  border: none;
}
